{% extends 'index.html.twig' %}

{% block title %}Hello CharacterController!
{% endblock %}


{% block body %}
	<table>
		<tr>
			<td>Nom</td>
			<td>description</td>
		</tr>
		{% for type in types %}
			<tr>
				<td>{{ type.name }}</td>
				<td>{{ type.description }}</td>
				<td>
					<a type="button" href="type/edit/{{ type.id }}">modifer</a>
					<a type="button" href="type/delete/{{ type.id }}">supprimer</a>
				</td>
			</tr>
		{% endfor %}

		<a href="/type/new">Ajouter</a>
	</table>
	<p></p>
	<a href="/">Retour</a>
{% endblock %}
