{% extends 'index.html.twig' %}


{% block body %}
<h1>Compétences</h1>
	<table class="margin1">
		<tr>
			<td>Nom</td>
			<td>Description</td>
		</tr>
		{% for skill in skills %}
			<tr>
				<td>{{ skill.name }}</td>
				<td>{{ skill.description }}</td>
				<td>
					<a type="button" href="skill/edit/{{ skill.id }}">modifer</a>
					<a type="button" href="skill/delete/{{ skill.id }}">supprimer</a>
				</td>
			</tr>
		{% endfor %}


	</table>
	<a class="margin1" href="/skill/new">Ajouter</a>
	<p></p>
	<a class="margin1" href="/">Retour</a>
{% endblock %}
