{% extends 'index.html.twig' %}

{% block title %}Hello CharacterController!
{% endblock %}

{% block body %}
	<table>
		<tr>
			<td>Nom</td>
			<td>Niveau</td>
		</tr>
		{% for skill in skills %}
			<tr>
				<td>{{ skill.name }}</td>
				<td>{{ skill.description }}</td>
				<td>
					<a type="button" href="skill/edit/{{ skill.id }}">modifer</a>
					<a type="button" href="skill/delete/{{ skill.id }}">supprimer</a>
				</td>
			</tr>
		{% endfor %}

		<a href="/skill/new">Ajouter</a>
	</table>
	<p></p>
	<a href="/">Retour</a>
{% endblock %}
